* {
    margin: 0;
    padding: 0;
}
 
html {
    font-size: 62.5%;
}
input, button {
    cursor: pointer;
}

.azeret-mono-regular {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: extrabold;
    font-style: normal;
}
/* shared styles */
.text-primary {
    color: rgba(13, 19, 33, 1.00);
    font-weight: 900;
    font-size: 3rem;
}
.box-weight {
    max-width: 477px;
}
.content-description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin: 24px 0;
    text-align: center;
}
.content-description-2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin: 24px 0;
    text-align: left;
}
/* nav styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.resume-btn {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(13, 19, 33, 1.00);
    padding: 3vw 2vw;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: .8rem;
    opacity: 0.8;
}
/* main styles */
main {
    width: 80%;
    margin: auto;
}
/* banner styles */
.banner-container {
    width: 100%;
    background-image: url("../assets/Hero-bg.png");
}
.connect-btn {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
}
.banner-title {
    font-size: 4vw;
    font-weight: 800;
    /* line-height: 68px; */
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 32px;
}
.banner-content {
    max-width: 998px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    flex-direction: column;
    margin: auto;
}
/* Why Web Development?? section styles */
.wwd-container {
    margin-top: 50px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.section-title {
    color: rgb(13, 19, 33);
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 40px 0;
}
.section-subtitle {
    color: rgba(13, 19, 33, 0.7);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.box1, .box2, .box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
    padding: 48px;
}

.box-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* my inspiration styles */
.yt-vedio {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    height: 400px;
    /* margin: 48px 0px; */
    padding: 32px;
}
/* target-section styles */
.my-current-target {
    margin: 111px 0px;
}
.cards-title {
    color: rgb(13, 19, 33);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}
.card-container {
    display: flex;
    gap: 24px;
}
.card-container .card1,.card2,.card3 {
    padding: 40px;
}
.card-container a , .target-description a {
    color: rgb(13, 19, 33);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    line-height: 19px;
    text-decoration-line: underline;
}
.card-container .card1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.card-container .card2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.card-container .card3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* next target styles */
.full-widt-container .target {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 1.6rem;
    margin-bottom: 3.2rem;
    gap: 32;
    padding: 4rem;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.full-widt-container .target .target-description {
    margin-left: 24px;
}
/* support section styles */
.support {
    background-image: url("../assets/handshake.jpg");
    padding: 64px 48px 64px 48px;
    margin-bottom: 80px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
}
.support .support-title {
    color: rgb(255, 255, 255);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support-description {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;

}
.input-box input[type="text"] {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    max-width: 548px;
}
.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10;
    
}
.input-box input[type="submit"] {
    color: rgb(13, 19, 33);
    font-size: 2rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    margin: 0px 16px;
}
/* footer styles */
.f-title {
    color: rgb(13, 19, 33);
    font-size: 2rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
    gap: 32;
    align-items: center;
}
.f-right img {
    margin: 0px 10px;
}